{% extends './guest_base.html' %}
{% load static %}

{% block guest_header %}
    <nav class="sb-topnav navbar navbar-expand navbar-light" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); ">
         <!-- Sidebar Toggle-->
         <button class="btn btn-link btn-sm btn-light order-1 order-lg-0 me-4 me-lg-0 m-3" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/user/guest/dashboard/"><img src="{% static 'images/pg_finder_logo.svg' %}"
                style="-webkit-filter:invert(1); filter:invert(1);" height="50"></a>                     
                
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" id="search_pg_textbox" placeholder="Search for..." onkeyup="searchFromPG()" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'guestprofileupdation' %}">Manage Profile</a></li>                        
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="{% url 'guestchangepassword' %}">Change Password</a></li>                   
                    <li>
                        <hr class="dropdown-divider" />
                    </li> 
                    <li><a class="dropdown-item" href="/user/userlogout/">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock guest_header %}
