{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>PG Create</title>

    <style>
        body {
            background: linear-gradient(to right, rgb(58, 28, 113), rgb(215, 109, 119), rgb(255, 175, 123));
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <!-- <link href="{% static 'css/styles.css' %}" rel="stylesheet" /> -->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- getting overide with the script tag at the bottom -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
        rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/pgform_style.css' %}">

</head>

<body class="sb-nav-fixed">

    <!-- ----------------------------------------- -->
    {% block owner_header %}
    {% include '../owner_dir/owner_header.html' %}
    {% endblock owner_header %}

    <!-- ----------------------------------------- -->

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">

            <!-- ----------------------------------------- -->
            {% block owner_navbar %}
            {% include '../owner_dir/owner_navbar.html' %}
            {% endblock owner_navbar %}
            <!-- ----------------------------------------- -->


        </div>

        <!-- ---------------------------------------------------------- -->

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">

                    <div class="registration-form">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-icon">
                                <span><i class="icon icon-home"></i></span>
                            </div>
                            <div class="form-group">
                                {{form | crispy}}
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create PG" class="btn btn-block create-account" />
                            </div>                            
                        </form>

                    </div>

                    <!-- ---------------------------------------------------------- -->



                </div>
            </main>
            <!-- ----------------------------------------- -->
            {% block owner_footer %}
            {% include '../owner_dir/owner_footer.html' %}
            {% endblock owner_footer %}
            <!-- ----------------------------------------- -->
        </div>
    </div>

</body>

</html>